<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{% block title %} Endura {% endblock %}</title>
      {% block head %}
      <!-- Universal includes for all templates go here -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      {{ toastr.include_jquery() }}
      {{ toastr.include_toastr_css() }}
      {{ toastr.message() }}
      {% endblock %}
   </head>
   <body>
      <!-- This is where the universal header/navbar -->
      <div class="container">
         {{ toastr.include_toastr_js() }}
         {% block page_body %}
         <div class="row">
            <!-- This is where page content would go -->
         </div>
         {% endblock %}
      </div>
      <!-- This is where a footer would go -->
      {% block tail%}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      {% endblock %}
   </body>
</html>