{% extends 'base.html' %}
{% block title %}Create Account{% endblock %}
{% block page_body %}
    <div>
        <h2>Create Account</h2>
        <form method="post">
            <label for="username">Username:</label>
            <input type="text" name="username" required />
            <label for="password">Password:</label>
            <input type="password" name="password" required />
            <button type="submit">Create</button>
        </form>
        <a href="{{url_for('login')}}">Already have an account? Login</a>
    </div>
{% endblock %}