{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block page_body %}
<div class="login-container col-md-6 offset-md-3">
    <h2 class="text-center">Login</h2>
    <form method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username" required />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" required />
        </div>
        <button type="submit" class="btn custom-btn btn-block">Login</button>
    </form>
    <p class="text-center mt-3">
        <a href="{{ url_for('create_user') }}" class="register-link">Don't have an account? Register here</a>
    </p>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #d9ead3; /* Background color */
    }

    .login-container {
        margin-top: 100px; /* Center the form vertically */
        padding: 20px; /* Padding */
        background-color: rgba(243, 243, 243, 0.5); /* White background with transparency */
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    }

    .custom-btn {
        background-color: #d2e2cb; /* Change to your desired color */
        color: Black; /* Text color */
    }

    .custom-btn:hover {
        background-color: #81a781; /* Darker shade for hover effect */
    }

    .register-link {
        color: #666666; /* Change to your desired color */
        text-decoration: none; /* Remove underline */
    }

    .register-link:hover {
        color: Black; /* Darker shade on hover */
        text-decoration: underline; /* Underline on hover */
    }
</style>
{% endblock %}

